<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>tp on canvas</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.css" />
  <style media="screen">
    body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url('https://www.publicdomainpictures.net/pictures/240000/velka/white-canvas-background.jpg');
    }

    body {
      margin-top: 75px;
      z-index: 1;
      opacity: 1;
      overflow-x: hidden;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    .grid-item {
      padding: 20px;
      font-size: 15px;
      text-align: center;
    }

    .add-to-cart,
    .add-to-wish {
      color: white;
    }

    .add-to-cart:hover {
      color: white;
    }

    .add-to-wish:hover {
      color: white;
    }

    .images {
      padding-bottom: 10px;
      max-width: 350px;
    }

    .select {
      padding-top: 10px;
    }

    .remove-btn {
      padding-top: 5px;
    }

    .input{
      border: none;
      background: none;
      width: 40px;
      text-align: center;
      font-size: 15pt;
    }
    span{
      font-size: 15pt;

    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand active" href="/canvas">tp on canvas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">cart</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>TP on canvas</h1>
  <div class="grid-container">
    <% for(let i=0; i< canvas.length; i++){ %>
      <div class="grid-item">
        <h1><%= canvas[i].genre %></h1>
        <h2><%= canvas[i].series %></h2>
        <img class="images" src="<%= canvas[i].img_location %>">
        <div class="form">
          <form action="/cart/<%= canvas[i].id %>" method="post">
            <h3><%= canvas[i].size %></h3>
            <% if(canvas[i].tier === 1) { %>
              <% if(canvas[i].size === "8x10"){ %>
                <span>$</span><input class="input" type="text" name="price" value="150" readonly><br>
                <% } else if(canvas[i].size === "11x14"){%>
                  <span>$</span><input class="input" type="text" name="price" value="200" readonly><br>
                  <% } else if(canvas[i].size === "12x15"){%>
                    <span>$</span><input class="input" type="text" name="price" value="250" readonly><br>
                    <% } else if(canvas[i].size === "16x20"){%>
                      <span>$</span><input class="input" type="text" name="price" value="300" readonly><br>
                      <% } %>
                        <%} else if(canvas[i].tier === 2) { %>
                          <% if(canvas[i].size === "8x10"){ %>
                            <span>$</span><input class="input" type="text" name="price" value="200" readonly><br>
                            <% } else if(canvas[i].size === "11x14"){%>
                              <span>$</span><input class="input" type="text" name="price" value="250" readonly><br>
                              <% } else if(canvas[i].size === "12x15"){%>
                                <span>$</span><input class="input" type="text" name="price" value="300" readonly><br>
                                <% } else if(canvas[i].size === "16x20"){%>
                                  <span>$</span><input class="input" type="text" name="price" value="350" readonly><br>
                                  <% } %>
                                    <%}%>
                                      <button type="submit" class="btn btn-primary">Add to cart</button>
          </form>
          <% if(admin){ %>
            <div class="remove-btn">
              <a href="/remove-canvas/<%= canvas[i].id%>"><button class="btn btn-info">Remove</button></a>
            </div>
          <%}%>
        </div>
      </div>
      <% } %>
  </div>
</body>

</html>
